.actor_page_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    font-size: 18px;
}

.actor_grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 60px;
    width: 1200px;
}

/* LEFT COLUMN */
.actor_left {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.actor_avatar {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/* RIGHT COLUMN */
.actor_right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.actor_fio {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.actor_parameters {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.actor_parameters p {
    margin: 4px 0;
    text-align: left;
}

.actor_block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.actor_block_title {
    font-size: 22px;
    font-weight: 600;
}

/* gallery */
.actor_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.actor_gallery_photo {
    width: 180px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.actor_gallery_photo:hover {
    transform: scale(1.03);
}

.floating_block {
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.35);

    border-radius: 8px;
    padding: 20px;

    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
    transition: 0.25s ease;
}

.floating_block:hover {
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}
