.page_cards {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.page_cards a {
    color: black;
}

/* CARDS START **/
.card_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4b4b4b;
    transition: opacity .2s;
    max-width: 300px;
    min-width: 220px
}

.card_main:hover {
    opacity: .8;
}

.card_avatar {
    width: 100%;
    /* height: 260px; */
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.card_name {
    font-size: 20px;
    text-align: center;
}
/* CARDS END **/

@media screen and (max-width: 850px) {
    .page_cards {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .card_main {
        width: 100%;
        min-width: unset;
    }
}
