/* ==== Анимация появления ==== */

.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
}


/* home-page */
.home_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* черный фон */
.hero_section {
    width: 100%;
    padding: 120px 20px 160px;
    position: relative;
    background: black;
    color: white;

    /* диагональ */
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
}

.hero_logo {
    display: block;
    width: 180px;
    margin: 0 auto 40px;
}

.hero_text {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.hero_text p {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.9;
}

.actors_section,
.agents_section,
.contact_section {
    width: 100%;
    max-width: 1000px;
    padding: 80px 20px;
    margin: auto;
}

.actors_section h2,
.agents_section h2,
.contact_section h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

/* сетка агентов */
.agents_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
}

/* форма */
.contact_form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_form input,
.contact_form textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    border-radius: 4px;
}

.contact_form button {
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}
.contact_form button:hover {
    background: #efefef;
}
