/* ===== Reset + Base ===== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    /* background-image: url("/background.png");
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: #f4f1ec;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul {
    list-style: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

address {
    font-style: normal;
}

/* ===== Form ===== */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
}

button,
input[type="submit"] {
    cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input[type="file"] {
    max-width: 100%;
}

label {
    cursor: pointer;
}

/* ===== Layout ===== */

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
}

/* ===== Footer ===== */

.agency-footer {
    background-color: #736b56;
    color: #f7f7f7;
    font-size: 14px;
    text-align: center;
    padding: 15px 20px;
    flex-shrink: 0;
}

.footer-main {
    margin-bottom: 5px;
    font-weight: 500;
}

.footer-small {
    font-size: 12px;
    color: #cacaca;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}