.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
    position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background: #f8f7f3;
    z-index: 1000;
    margin-bottom: 50px;

    /* border-bottom: 2px solid rgb(233, 147, 147); */
    border-bottom: 1px solid #2C2C2C;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* ===== БРЕНД ===== */

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
}

.brand-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.brand-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.brand-main {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.brand-title {
    font-size: 1.45rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #0181b4;
    /* color: #1c7ded; */
}

.brand-subtitle {
    font-size: 1rem;
    color: #0181b4;
    position: relative;
    bottom: 2px;
}

.brand-tagline {
    margin-top: 2px;
    font-size: 0.6rem;
    letter-spacing: 1px;
    color: #999;
    white-space: nowrap;
}

/* ===== МЕНЮ ===== */

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.menu a {
    font-weight: 400;
    color: #68645a;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #32302b;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    color: #000000;
    bottom: 2px;
}

/* ===== АВТОРИЗАЦИЯ ===== */

.auth-deskop {
    margin-left: 1rem;
}

.auth-mobile {
    display: none;
}

/* ===== БУРГЕР ===== */

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .navicon {
    background: #000;
    height: 2px;
    width: 26px;
    position: relative;
    display: block;
}

.menu-icon .navicon::before,
.menu-icon .navicon::after {
    content: "";
    background: #000;
    height: 2px;
    width: 26px;
    position: absolute;
    left: 0;
}

.menu-icon .navicon::before { top: -8px; }
.menu-icon .navicon::after { top: 8px; }


/* ===== ДЕСКТОП ===== */

@media (min-width: 1024px) {
    .navbar {
        padding: 50px 200px;
    }

    .brand-logo {
        width: 80px;
        height: 80px;
    }

    .brand-title {
        font-size: 2.5rem;
    }

    .brand-subtitle {
        font-size: 1.4rem;
    }

    .menu a {
        font-size: 1.4rem;
    }

    .brand-tagline {
        font-size: 1.2rem; 
        letter-spacing: 2px;
        max-width: calc(100% - 4rem);
        white-space: nowrap;
        overflow: visible;
        text-overflow: unset;
        display: inline-block;
        transform-origin: left;
    }
}

@media (max-width: 1290px) and (min-width: 1024px) {
    .navbar {
        padding: 20px;
    }
}


/* ===== МОБИЛКА ===== */

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        box-shadow: 0 5px 10px rgba(0,0,0,.15);
        background-color: #f4f1ec;
        z-index: 1000;
    }
    .menu.open {
        max-height: 400px;
    }
    .menu li {
        padding: 1rem 0;
    }
    .auth-deskop {
        display: none;
    }
    .auth-mobile {
        display: block;
        padding-top: 1rem;
        border-top: 1px solid #eee;
    }
}

