.not_found {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not_found_title {
    margin-top: 50px;
    font-size: 50px;
}

.not_found_text, .not_found_title {
    text-align: center;
    font-weight: 600;
}

.not_found_icon {
    text-align: center;
    width: 300px;
    z-index: 1000;
}